
.contenr{
    width: 150px;
    height: 150px;
    background-color: rgb(249, 249, 249);
    display: flex;
    border-radius: 20px;
  margin: 10px 10px;
  border:  solid rgb(0, 0, 0) 6px;
}
.bir{
  width: 60px;
  height: 60px;
 background-color: black;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 10px;
}
.ik{
  width: 60px;
  height: 60px;
 background-color: black;
  border-radius: 50%;
  margin-left: -60px;
  margin-top: 80px;
}
.uch{
  width: 60px;
  height: 60px;
 background-color: black;
  border-radius: 50%;
  margin-left: 3px;
  margin-top: 39px;
}
.uch1{
  width: 20px;
  height: 20px;
 background-color: rgb(159, 154, 154);
  border-radius: 50%;
  margin-left: -40px;
  margin-top: 110px;
}
.ramka{
    width: 360px;
    height: 750px;
    background: rgb(84, 121, 158);
    margin-left: 800px;
    margin-top: 100px;
    border-radius: 20px;
    border:  solid rgb(52, 51, 51) 3px;
    
}
img{
    margin-left: 130px;
    margin-top: 80px;
    width: 80px;
    height: 80px;
}
.sur{
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
    height: 200px;
    border:  solid rgb(84, 121, 158) 3px;
    border-radius: 30px;
}
